:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  /* overflow: hidden; */

  /* for mobile device */
  @media only screen and (max-width: 767px) {
    overflow: auto;
  }
}

body {
  margin: 0px;
}
